      body {
        background-color: white;
        margin: 0;
        font-family: 'Poiret One', Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
      
      ul {
        list-style: disc;
        list-style-image: url(vmwcloud-small.png);
        list-style-position: outside;
        padding-left: 32px;
        text-align: left;
        margin-left: 10%;
      }
      
      li {
      	margin-left: 32px;
      }
      
      a.dotted {
        text-decoration: none;
        border-bottom: 1px dashed rgb(74,165,210);
        color: rgb(74,165,210);
      }
      
      a.dotted:hover {
        color: rgb(39,129,53);
      }
      
      h1 {
        color: rgb(19,37,25);
      }
      
      label {
      	font-size: 12pt;
      }
      
      img.thumb {
				border: 1px solid #55c5e9;
				padding: 2px;
				background: white;
				margin-right: 10px;
				margin-bottom: 10px;
				width: 200px;
				height: 200px;
      }
      
      img.popup {
      	width: 400px;
      	height: auto;
      }
      
      img.bottom-logo {
      	height: 0.8em;
      }
      
      img.icon {
      	width: 32px;
      	height: auto;
      }
      
      #header-line {  
        padding: 0px;
        width: 100%;
        height: 15px;
        margin: 0;
        text-align: center;
      }
      
      #content {
      }
      
      #bottom-bar {
        width: 100%;
        bottom: 0px;
        position: fixed;
        text-align: center;
        margin: auto;
        font-size: 12pt;
        background-color: white;
      }
      
      #secret {
      	height: 30px;
      	border-radius: 3px;
      	border: 1px solid rgb(39,131,124);
      	font-size: 20pt;
      	font-family: 'Poiret One', Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
      
      #submit {
				margin-top: 50px;
      	width: 150px;
      	height: 35px;
      	border: 1px solid rgb(21,59,57);
      	border-radius: 3px;
      	font-size: 14pt;
      	font-family: 'Poiret One', Arial, "Helvetica Neue", Helvetica, sans-serif;
      	background-color: rgb(74,165,210);
      }
      
      #submit:hover {
	      background-color: rgb(39,129,53);
      }
      
			#imgbox {
				vertical-align : middle;
				position : absolute;
				border: 2px solid #999;
				background : #FFFFFF;
				filter: Alpha(Opacity=100);
				visibility : hidden;
				height : 400px;
				width : 400px;
				z-index : 50;
				overflow : hidden;
				text-align : center;
			}
      
      .hidden {
        display: none;
      }
      
      .center {
        text-align: center;
      }
      
      .top-50px {
        padding-top: 50px;
      }
     
      .bottom-line {
        border-bottom: 1px solid black;
        margin-bottom: 2px;
        padding-bottom: 2px;
      }
      
      .text-block {
        width: 80%;
        padding: 10px;
        margin: auto;
        font-size: 18pt;
        vertical-align: middle;
        line-height: 1.4;
      }
      
      .failed {
      	color: rgb(255,0,0);
      	font-weight: bold;
      }
      
      .comment {
      	color: rgb(39,131,124);
      	font-size: 14pt;
      }
      
      .indented {
      	text-indent: 1.5em;
      }
      
      .small-text {
      	font-size: small;
      	line-height: 1;
      }
      
      .big-text {
      	font-size: xx-large;
      	line-height: 1.5;
      }
      
      .strong {
      	font-weight: bold;
      }